{% extends 'base.html' %}

{% block head %} 
<h2>Tunes</h2>
{% endblock %}

{% block body %}

<div class='content'>
        {% if tunes|length < 1 %}
            <div>No tunes saved yet, add a new entry below</div>
        {% else %}
        <div id='app_name'>Tunes list</div>
        <table>
            <tr>
                <th>Tune</th>
                <th>Added</th>
                <th>Downloaded</th>
                <th>Actions</th>
            </tr>
            {% for tune in tunes %}
            <tr>
                <td>{{ tune.content }}</td>
                <td>{{ tune.date_created }}</td>
                <td>{{ tune.downloaded }}</td>
                <td>
                    <a href="/delete/{{ tune.id }}">Delete</a>
                    <br>
                    <a href="/update/{{ tune.id }}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <form action='/' method="post">
            <div>
                <input type="url" id='url' name="content" autofocus>
                <input type="submit" value="Add">
            </div>
        </form>
</div>
    
{% endblock %}